{% extends 'lateral_base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block customCSS%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/User_Adoption_Center/post/animal_information.css')}}">

{% endblock %}

{% block body %}
<div class="container">
  <form class="animal_form" action="/upload_animal" method="POST">
    <div class="container_basic_information">
      <div class="container_animal_photo">
        <input type="hidden" id="hiddenField" name="urlImage"><!--URL IMAGEN-->
        <div class="container_photo">
          <img id="preview" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjFkn9BNFAcHtEC_qqB6dgvYE3HXXTGooTv9m0lxXCMA&s" alt="">
        </div>
        <div class="uploadphoto">
          <input type="file" id="subirFoto" name="photo_selected" style="display: none;">
        </div>
      </div>
      <div class="container_animal_information">
        <div class="container_title_seccion">
          <h1>Registrar nuevo animal</h1>
        </div>
        <div class="input">
          <input type="text" class="form-control" placeholder="Nombre" aria-label="" name="animal_name">
        </div>
        <div class="input">
          <input type="text" class="form-control" placeholder="Edad" aria-label="" name="animal_age">
        </div>
        <div class="input">
          <select class="form-select" aria-label="" id="animal_specie"  name="animal_specie">
            <option selected disabled>Especie</option>
            {%for specie in species %}
            <option value={{specie.id}}>{{specie.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input">
          <select class="form-select" aria-label="" id="animal_breed" name="animal_breed" disabled>
            <option selected disabled>Raza</option>
            {%for breed in breeds %}
            <option value={{breed.id}} class="{{breed.species_id}}">{{breed.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input">
          <select class="form-select" aria-label="" name="animal_sex">
            <option selected disabled>Sexo</option>
            <option value="Macho">Macho</option>
            <option value="Hembra">Hembra</option>
          </select>
        </div>
        <div class="input">
          <select class="form-select" aria-label="" name="animal_size">
            <option selected disabled>Tamaño</option>
            <option value="Pequeño">Pequeño (0-20cm)</option>
            <option value="Mediano">Mediano (21-50cm)</option>
            <option value="Grande">Grande (51-80cm)</option>
            <option value="Gigante">Gigante (>81cm)</option>
          </select>
        </div>
        <div class="input">
          <input type="number" class="form-control" placeholder="Peso (kg)" aria-label="Peso (kg)" name="animal_weight">
        </div>
      </div>
    </div>
    <div class="container_animal_operation">
      <div class="container_title_seccion">
        <h1>Operacion realizadas</h1>
      </div>
      <div class="container_animal_seccion">
        {%if operations%}
          <select class="form-select" aria-label="Default select example" id="operations_select" onchange="updateSelection()">
            <option selected disabled>operaciones ...</option>
            {%for operation in operations%}
            <option value="{{operation.id}}">{{operation.name}}</option>
            {%endfor%}
          </select>
        {%endif%}
      </div>
      <div class="container_options_added input" id="operations_added">

      </div>

      <div>

      </div>
    </div>



    <div class="btn_send_form">
      <button class="btn btn-personalized">
        <i class='bx bx-save'></i> Guardar Cambios
      </button>
    </div>
  </form>
</div>
{% endblock %}

{% block customJS%}
<script src="/static/js/User_Adoption_Center/post/animal_information.js"></script>

{% endblock %}