{% extends 'lateral_base.html' %}

{% block title %}
Editar animal
{% endblock %}

{% block customCSS%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/User_Adoption_Center/post/edit_animal.css')}}">

{% endblock %}

{% block body %}

{%if animal%}
<div class="container">
  <form class="animal_form" action="/editAnimal/{{animal.id}}" method="POST">
    <!-- Informacion basica del animal -->
    <div class="container_basic_information">
      <div class="container_animal_photo">
        <input type="hidden" id="hiddenField" name="urlImage"><!--URL IMAGEN-->
        <div class="container_photo">
          <img id="preview" src="{{animal.photo}}" alt="">
        </div>
        <div class="uploadphoto">
          <input type="file" id="subirFoto" name="photo_selected" style="display: none;">
        </div>
      </div>
      <div class="container_animal_information">
        <div class="container_title_seccion">
          <h1>Editar información de {{animal.name}}</h1>
        </div>
        <div class="input">
          <label for="">Nombre</label>
          <input type="text" class="form-control" placeholder="Nombre" aria-label="" name="animal_name"
            value="{{animal.name}}">
        </div>
        <div class="input">
          <label for="">Edad</label>
          <input type="number" class="form-control" placeholder="Edad" aria-label="" name="animal_age"
            value="{{animal.age}}">
        </div>
        <div class="input">
          <label for="">Especie</label>
          <select class="form-select" aria-label="" id="animal_specie" name="animal_specie">
            <option selected disabled style="display: none;">Seleccione especie ...</option>
            {%for specie in species %}
            <option value={{specie.id}}>{{specie.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input">
          <label for="">Raza</label>
          <select class="form-select" aria-label="" id="animal_breed" name="animal_breed" disabled>
            <option selected disabled value="">{{animal.breed_name}}</option>
            {%for breed in breeds %}
            <option value={{breed.id}} class="{{breed.species_id}}">{{breed.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input">
          <label for="">Sexo</label>
          <select class="form-select" aria-label="" name="animal_sex">
            <option selected disabled style="display: none;" value="">{{animal.sex}}</option>
            <option value="Macho">Macho</option>
            <option value="Hembra">Hembra</option>
          </select>
        </div>
        <div class="input">
          <label for="">Tamaño</label>
          <select class="form-select" aria-label="" name="animal_size">
            <option selected disabled style="display: none;" value="">{{animal.size}}</option>
            <option value="Pequeño">Pequeño (0-20cm)</option>
            <option value="Mediano">Mediano (21-50cm)</option>
            <option value="Grande">Grande (51-80cm)</option>
            <option value="Gigante">Gigante (>81cm)</option>
          </select>
        </div>
        <div class="input">
          <label for="">Peso</label>
          <input type="number" class="form-control" placeholder="Peso (kg)" aria-label="Peso (kg)" name="animal_weight"
            value="{{animal.weight}}">
        </div>
        <div class="input">
          <label for="">Estado</label>
          <select class="form-select editAnimal" aria-label="Filtrar por tema" name="animal_is_adopted" id="estado"
            style="cursor: pointer;">
            <option disabled selected value = "6">Pulsa para cambiar estado ...</option>
            <option value='1'>Adoptado</option>
            <option value='0'>No adoptado</option>
          </select>
        </div>
      </div>
    </div>
    <!-- Dieta del animal -->
    <div class="container_animal_observation">
      <div class="container_title_seccion">
        <h1>Observaciones del animal</h1>
        <p>Agrega en esta sección los alimentos que, estrictamente <strong>debe o no</strong> comer el animal</p>
      </div>
      <div class="input_observation">
        <textarea class="form-control" name="animal_observation" rows="4"
          placeholder="Agrega aquí observaciones importantes ...">{{animal.observation}}</textarea>
      </div>
    </div>
    <!-- Operaciones del animal -->
    <div class="container_animal_operation">
      <div class="container_title_seccion">
        <h1>Operacion realizadas</h1>
      </div>
      <div class="container_animal_seccion">
        {%if operations%}
        <select class="form-select" aria-label="Default select example" id="operations_select"
          onchange="updateSelection('operations_select','operations_added', 'operation')">
          <option selected disabled>operaciones ...</option>
          {%for operation in operations%}
          <option value="{{operation.id}}">{{operation.name}}</option>
          {%endfor%}
        </select>
        {%endif%}
      </div>
      <div class="container_options_added input" id="operations_added">

      </div>
      <div class="container_options_register input" id="operations_register">
        {%if operations_recorded%}
        {%for operation_recorded in operations_recorded%}
        <div class="option_added" id="div_operation_{{operation_recorded.id}}">
          <input type="hidden" value="{{operation_recorded.id}}" name="operation_{{operation_recorded.id}}"
            id="operation_{{operation_recorded.id}}">
          <label>{{operation_recorded.name}}</label>
          <button
            onclick="changeName('operation_{{operation_recorded.id}}','div_operation_{{operation_recorded.id}}', 'operation',event)">Quitar</button>
        </div>
        {%endfor%}
        {%endif%}
      </div>
    </div>

    <!-- Enfermedades del animal -->
    <div class="container_animal_disease">
      <div class="container_title_seccion">
        <h1>Enfermedades que ha tenido</h1>
      </div>
      <div class="container_animal_seccion">
        {%if diseases%}
        <select class="form-select" aria-label="Default select example" id="disease_select"
          onchange="updateSelection('disease_select','disease_added', 'disease')">
          <option selected disabled>Enfermedades ...</option>
          {%for disease in diseases%}
          <option value="{{disease.id}}">{{disease.name}}</option>
          {%endfor%}
        </select>
        {%endif%}
      </div>
      <div class="container_options_added input" id="disease_added">

      </div>
      <div class="container_options_register input" id="diseases_register">
        {%if diseases_recorded%}
        {%for disease_recorded in diseases_recorded%}
        <div class="option_added" id="div_disease_{{disease_recorded.id}}">
          <input type="hidden" value="{{disease_recorded.id}}" name="disease_{{disease_recorded.id}}"
            id="disease_{{disease_recorded.id}}">
          <label>{{disease_recorded.name}}</label>
          <button
            onclick="changeName('disease_{{disease_recorded.id}}','div_disease_{{disease_recorded.id}}','disease' ,event)">Quitar</button>
        </div>
        {%endfor%}
        {%endif%}
      </div>
    </div>

    <!-- Vacunas del animal -->
    <div class="container_animal_vaccine">
      <div class="container_title_seccion">
        <h1>Vacunas aplicadas</h1>
      </div>
      <div class="container_animal_seccion">
        {%if vaccines%}
        <select class="form-select" aria-label="Default select example" id="vaccine_select"
          onchange="updateSelection('vaccine_select','vaccine_added', 'vaccine')">
          <option selected disabled>Vacunas ...</option>
          {%for vaccine in vaccines%}
          <option value="{{vaccine.id}}">{{vaccine.name}}</option>
          {%endfor%}
        </select>
        {%endif%}
      </div>
      <div class="container_options_added input" id="vaccine_added">

      </div>

      <div class="container_options_register input" id="vaccines_register">
        {%if vaccines_recorded%}
        {%for vaccine_recorded in vaccines_recorded%}
        <div class="option_added" id="div_vaccine_{{vaccine_recorded.id}}">
          <input type="hidden" value="{{vaccine_recorded.id}}" name="vaccine_{{vaccine_recorded.id}}"
            id="vaccine_{{vaccine_recorded.id}}">
          <label>{{vaccine_recorded.name}}</label>
          <button
            onclick="changeName('vaccine_{{vaccine_recorded.id}}','div_vaccine_{{vaccine_recorded.id}}','vaccine' ,event)">Quitar</button>
        </div>
        {%endfor%}
        {%endif%}
      </div>
    </div>


    <div class="btn_send_form">
      <button class="btn btn-personalized">
        <i class='bx bx-save'></i> Guardar Cambios
      </button>
    </div>
  </form>
</div>
{%endif%}
{% endblock %}

{% block customJS%}
<script src="/static/js/User_Adoption_Center/post/edit_animal.js"></script>

{% endblock %}