.profile-info {
    position: fixed;
    top: 0;
    height: 100%;
    transform: translate(200px);
    width: calc(100% - 200px);
    overflow: auto;
}

.profile-top {
    position: relative;
    display: flex;
    margin: 2rem 0 0 0;
    border-bottom: dashed black 1px;
}

.profile-image {
    margin: 0.75rem;
    display: flex;
    align-items: center;
}

.profile-image>img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-data {
    margin: 4rem;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.profile-buttons {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn {
    margin: 0.5rem;
}

.btn-personalized {
    background-color: #1cb0ad;
    color: #FFF;
    font-family: 'Jua', sans-serif;
    font-size: medium;
}

.btn-personalized:hover {
    background-color: #138e8e;
    color: #FFF;
}


@media only screen and (max-width: 1300px) {

    .profile-image>img {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-width: 1139px) {

    .profile-image>img {
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width: 670px) {
    .profile-top {
        flex-direction: column;
    }

    .profile-image>img {
        width: 200px;
        height: 200px;
    }
}

/* NAVEGADOR FOTOGRAFÍAS - COMENTARIOS*/
.navbar-animal-profile {
    /* border: solid orange; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2% 0 2% 0;

}

.nav {
    border-width: 1.5px;
    border-color: #062b2d;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.href-personalized {
    color: #1cb0ad;
}

.href-personalized strong {
    font-family: 'Jua', sans-serif;
    font-size: larger;
}

.href-personalized:hover {
    color: #138e8e;
}


/*AGREGAR NUEVO COMENTARIO*/
.container-add-comment,
.container-register-message {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: salmon solid; */
    border-top: dashed black 1px;

}

.add-new-comment,
.register-option {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid; */
    margin: 1% 0 1% 0;
}

.add-new-comment a {
    color: green;
    text-decoration: none;
}

.register-option p {
    font-family: 'Jua', sans-serif;
    font-size: medium;
}


/* COMENTARIOS DE RAZAS ANIMAL */
.container-animal-comments {
    /* border: purple solid; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comment-animal-breed-publication:hover {
    background-color: #9df2e9;
    transform: scale(1.05);
    /* Aumenta el tamaño en un 5% */
}

.comment-animal-breed-publication {
    display: grid;
    grid-template-columns: min-content auto;
    width: 90%;
    height: 100%;
    border: solid #48d1cc 1px;
    margin: 2% 0 2% 0;
    border-radius: 10px;
}

.comment-owner-photo {
    /* border: green solid; */
    margin: 5%;
    width: 100%;
    height: 95%;
}

.comment-owner-photo img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10%;
}

.container-name-description {
    margin-left: 5%;
    
}

.comment-owner-name {
    /* border: blue solid; */
    margin: 1% 0 1% 0;
}

.comment-owner-name h4 {
    font-family: 'Jua', sans-serif;
    font-weight: 300;
    font-size: larger;
}

/* .comment-description {
    border: solid red;
} */