.profile-info{
    position: fixed;
    top: 0;
    height: 100%;
    transform: translate(200px);
    width: calc(100% - 200px); 
    overflow: auto;
}
  
.profile-top {
    position: relative;
    display: flex;
    margin: 2rem 0 0 0;
}
  
.profile-image {
    margin: 0.75rem;
    display: flex;
    align-items: center;
}
  
.profile-image > img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-data{
    margin: 4rem;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
  
article {
    display: flex;
    width: 10rem;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.profile-buttons {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn{
    margin: 0.5rem;
}

.btn-personalized {
    background-color: #1cb0ad;
    color: #FFF; 
    font-family: 'Jua', sans-serif;
    font-size: medium;
}
  
.btn-personalized:hover {
    background-color: #138e8e;
    color: #FFF;
}


@media only screen and (max-width: 1300px) {
    
    .profile-image > img {
        width: 300px;
        height: 300px;
    }
}
  
@media only screen and (max-width: 1139px) {
    
    .profile-image > img {
        width: 250px;
        height: 250px;
    }
}
  
@media only screen and (max-width: 670px) {
    .profile-top {
        flex-direction: column;
    }
    .profile-image > img {
        width: 200px;
        height: 200px;
    }
}

/*AGREGAR NUEVO COMENTARIO*/
.container-add-comment, .container-register-message{
    display: flex;
    justify-content: center;
    align-items:center ;
    border: salmon solid;
    
}

.add-new-comment, .register-option{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items:center ;
    border: solid;
    margin: 1% 0 1% 0;
}

.add-new-comment a{
    color: green;
    text-decoration: none;
}

.register-option p{
    font-family: 'Jua', sans-serif;
    font-size: medium;
}


/* COMENTARIOS DE RAZAS ANIMAL */
.container-animal-comments{
    border: purple solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-animal-comments:hover{
    background-color: #9df2e9;
    transform: scale(1.05); /* Aumenta el tamaño en un 5% */
}

.comment-animal-breed-publication{
    display: grid;
    grid-template-columns: min-content auto; 
    width: 70%;
    height: 50%;
    border: solid;
}

.comment-owner-photo{
    border: green solid;
    width: 100%;
    height: 100%;
}

.comment-owner-photo img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 10%;

}

.container-name-description{
    margin-left: 5%;
    border: solid brown;
}

.comment-owner-name{
    border: blue solid;
}

.comment-description{
    border: solid red;
}

