<!--Primer Modal Cagar foto-->
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modaltitle">Registrar Animal</h1>
      </div>
      <div class="modal-body">
        <label for="foto" class="label-input">Seleccione una foto:</label>
        <input type="file" id="foto" name="foto">
      </div>
      
    </div>
  </div>
</div>

<!--Tercer Modal Editar Animales-->
<div class="modal-xl modal" id="Modal3" tabindex="-1" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modaltitle3">INFORMACION RÁPIDA</h1>
        <!-- <input class="modal-title fs-5" id="modaltitle3" name="nombre"> -->
      </div>
      <form action="{{url_for('animals_adoption_center.animalsAdoptionCenter')}}" method="POST">
        <div class="container-modal modal-body input-group">
          <div class="content-modal" >
            <div class="row">
              <div class="col col-md-auto" style="display: grid; grid-template-columns: min-content;">
                <input type="hidden" name="form_id" value="edit_animal"><!--IDENTIFICADOR FORM-->
                <input type="hidden" id="idAnimal" name="animalid">
                <img id="animal_photo" src="" alt="" style="width: 400px; height: 400px;">
                <a href="#" id="ref_edit_animal">Editar información completa</a>
                
              </div>
              <div class="col col-md-6">
                <div class="input-group mb-3">
                  <span class="input-group-text">Nombre</span>
                  <input type="text" id="animal_name" class="form-control editAnimal" placeholder="nombre" aria-label="nombre" name="animal_name" readonly>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">Edad</span>
                  <input type="number" id="animal_age" class="form-control editAnimal" placeholder="Edad" aria-label="Edad" name="animal_age" readonly>
                </div>
                <!-- <div class="input-group mb-3">
                  <span class="input-group-text">Especie</span>
                  <input type="text" id="especie" class="form-control editAnimal" placeholder="Raza" aria-label="Especie" name="especie" readonly>
                </div> -->
                <div class="input-group mb-3">
                  <span class="input-group-text">Sexo</span>
                  <input type="text" id="animal_sex" class="form-control editAnimal" placeholder="Sexo" aria-label="Sexo" name="animal_sex" readonly>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">Raza</span>
                  <input type="text" id="animal_breed_name" class="form-control editAnimal" placeholder="Raza" aria-label="Raza" name="animal_breed_name" readonly>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">Tamaño</span>
                  <input type="text" id="animal_size" class="form-control editAnimal" placeholder="Tamaño" aria-label="Tamaño" name="animal_size" readonly>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">Peso (kg)</span>
                  <input type="number" id="animal_weight" class="form-control editAnimal" placeholder="Peso" aria-label="Peso (kg)" name="animal_weight" readonly>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">Observaciones</span>
                  <textarea id="animal_observation" class="form-control editAnimal" aria-label="observation" name="animal_observation" readonly></textarea>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">Estado</span>
                  <select class="form-select editAnimal" aria-label="Filtrar por tema" name="animal_is_adopted" id = "estado" style="cursor: pointer;">
                    <option disabled selected>Pulsa para cambiar estado ...</option>
                    <option value='1'>Adoptado</option>
                    <option value='0'>No adoptado</option>
                    
                  </select>
                  <!-- <input type="number" id="pesoEdit" class="form-control editAnimal" placeholder="Peso" aria-label="Peso (kg)" name="pesoEdit"> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary-personalized" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-personalized-save">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal animal breed comment -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  role="dialog" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Comentar sobre esta raza</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{url_for('view_profile_animal.profilecomments', fund_id = fund_id, animal_id = prId)}}" method="POST">
        <div class="modal-body">
          <div class="input-group mb-3">
            <!-- <span class="input-group-text">Dieta</span> -->
            <textarea required class="form-control" name="animal_breed_comment" placeholder="¿Que sabes sobre esta raza de animal?..." rows="7"></textarea>
            <p><strong>Nota: </strong>Recuerda que esto será visto por cualquier usuario, 
              es importante que tu comentario <strong>sea verídico</strong> y que no vaya a afectar negativamente a otras 
              personas que decidan seguirlo.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Subir</button>
        </div>
      </form>
    </div>
  </div>
</div>