{% extends 'lateral_base.html' %}


{% block title %}
Perfil
{% endblock %}

{% block customCSS%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/User_Adoption_Center/profile_adoption_center.css')}}">

{% endblock %}


<!-- unitest, nosetest -->
{% block body %}
<div class="contenedor">
  <form class="contPrincipal"
    action="{{url_for('view_profile_adoption_center.viewProfileAdoptionCenter',id = current_user.id, name = current_user.name)}}"
    method="POST">
    <!-- Seccion 1 -->
    <div class="seccion1">
      <input type="hidden" name="form_id" value="edit_info">
      <div class="contfotoAlb">
        <input type="hidden" id="hiddenField" name="hiddenField"><!--URL IMAGEN-->
        <img id="preview" src="{{user_information.photo}}" alt="">
      </div>
      <div class="uploadFoto">
        <input type="file" id="subirFoto" name="foto">
      </div>
      <div class="infoAlb">
        <div class="infoCampo">
          <textarea readonly id="nombreAlb" class="form-control" name="name" rows="1"
            oninput="this.style.height = '';this.style.height = this.scrollHeight + 'px'">{{user_information.name}}</textarea>
        </div>
        <div class="infoCampo texto">
          <textarea readonly id="descripAlb" class="form-control" name="description"
            oninput="this.style.height = '';this.style.height = this.scrollHeight + 'px'">{{user_information.description}}</textarea>
        </div>
      </div>
    </div>

    <!-- Seccion 2 -->
    <div class="seccion2">
      <div class="infogeneral">
        <div class="encabezadoInfo">
          <div class="tituloSec">
            <label>INFORMACION DEL ALBERGUE</label>
          </div>
          {% if current_user.is_authenticated and (current_user.access_id == user_information.access_id) %}
          <div class="btns">
            <button id="btn_guardar" class="btn btn-personalized" style="display: none;">Guardar</button>
            <button id="btn_edit" class="btn" onclick="toggleStyles(event)"><i id="icon_cog"
                class='bx bxs-cog'></i></button>
          </div>
          {% endif %}
        </div>
        <div class="contInfGen">
          <div class="infGenUno">
            <div class="columnaIzq">
              <div class="infocampo">
                <label>Departamento:</label>
                <input readonly id="departAlb" class="form-control" name="department" type="text"
                  value="{{user_information.department}}">
              </div>
              <div class="infocampo">
                <label>Llamanos:</label>
                <input readonly id="contactoAlb" class="form-control" name="contact" type="text"
                  value="{{user_information.contact}}">
              </div>
              {%if user_information.address%}
              <div class="infocampo">
                <label>Nos encuentras en: </label>
                <input readonly id="direccionAlb" class="form-control" name="address" type="text"
                  value="{{user_information.address}}">
              </div>
              {%endif%}
              {%if user_information.googlemaps%}
              <div class="infocampo">
                <label>Ver en Google Maps: </label>
                <a href="{{user_information.googlemaps}}" target="_blank">Ver en el mapa</a>

              </div>
              {%endif%}
            </div>
            <div class="columnaDer">
              <div class="infocampo">
                <label>Ciudad: </label>
                <input readonly id="ciudadAlb" class="form-control" name="city" type="text"
                  value="{{user_information.city}}">
              </div>
              <div class="infocampo">
                <label>Envianos un E-mail:</label>
                <input readonly type="text" class="form-control" value="{{user_information.email}}">
              </div>
              <div class="infocampo">
                <label>Nit: </label>
                <input readonly id="nitAlb" class="form-control" name="nit" type="text"
                  value="{{user_information.nit}}">
              </div>
            </div>
          </div>
          <div class="infGenDos">
            <div class="contInfDos">
              <div class="encInfDos">
                <div class="encabezadoMedioAyuda">
                  <label>¿Como nos puedes ayudar?</label>
                </div>
                {% if current_user.is_authenticated and (current_user.id == user_information.id) %}
                <div id="href_editP" class="href_editP" style="display: none;">
                  <a
                    href="{{url_for('view_profile_adoption_center.editProfileAdoptionCenter',id = current_user.id, name = current_user.name)}}">Editar
                    infomación completa</a>
                </div>
                {% endif%}

              </div>
              {%if PaymentOptions%}
              <div class="infocampo">
                {%for paymentOption in PaymentOptions%}
                <h6>*. {{paymentOption.name_paymentoption}}: {{paymentOption.number_payment}}</h6>
                {%endfor%}
              </div>
              {%else%}
              <div class="infocampo">
                <h6>¡Apoyanos divulgando!</h6>
              </div>
              {%endif%}
              <!-- <div class = "infocampo texto">
                <textarea readonly id = "MediosAyuda" name = "PaymentOptions" rows={{PaymentOptions[0]}}>{{PaymentOptions[1]}}</textarea>
              </div> -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>



  <!-- PARTE DE LAS PUBLICACIONES -->
  <div class=contPublicacion>
    <div class="contPestanas">
      <div class="pestana">
        <a class="href-personalized"
          href="{{url_for('view_profile_adoption_center.viewProfileAdoptionCenter',id = user_information.id, name = user_information.name)}}">
          <strong>General</strong>
        </a>
      </div>
      <div class="pestana">
        <a class="href-personalized"
          href="{{url_for('view_profile_adoption_center.viewProfileAdoptAnimals',id = user_information.id, name = user_information.name)}}">
          <strong>Adoptar</strong>
        </a>
      </div>
      {%if categories%}
      {% for category in categories %}
      <div class="pestana">
        <a class="href-personalized"
          href="{{url_for('view_profile_adoption_center.viewProfileAdoptionCenterByCategory',id = user_information.id, name = user_information.name, category = category.id)}}">
          <strong>{{category.name}}</strong>
        </a>
      </div>
      {% endfor %}
      {%endif%}
    </div>
    <div class="vistaPublicacion">
      {%if actuallySeccion != "Adoptar" and actuallySeccion != "General" and topics%}
      <form class="contFiltro"
        action="{{url_for('view_profile_adoption_center.viewProfileAdoptionCenterByCategory',id = user_information.id, name = user_information.name, category = actuallySeccion)}}"
        method="POST">
        <div class="row justify-content-md-center row-cols-6">
          <div class="col col-6 mt-3 mb-3">
            <input type="hidden" name="form_id" value="filter_animal"><!--IDENTIFICADOR FORM-->
            <select class="form-select" aria-label="Filtrar por tema" name="filter_topic">
              <option disabled selected>Filtrar por Todo</option>
              {%for topic in topics %}
              <option value={{topic.id}}>{{topic.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col col-md-auto mt-3 mb-3">
            <button class="btn btn-outline-personalized" type="submit">
              <i class='bx bx-search'></i> Buscar
            </button>
          </div>
        </div>
      </form>
      {%elif actuallySeccion == "Adoptar"%}
      <form class="contFiltro" action='/view/profile={{user_information.id}}/adoption_center/{{user_information.name}}/adopt_animals'
        method="POST">
        <div class="row justify-content-md-center row-cols-3">
          <div class="col-6 mt-3 mb-3">
            <input type="hidden" name="form_id" value="filter_adoption_seccion"><!--IDENTIFICADOR FORM-->
            <input type="text" class="form-control" placeholder="Buscar animales" aria-label="Buscar animales"
              name="filter_search" id="barraFilter">
          </div>
          <div class="col col-md-auto mt-3 mb-3">
            <button id="botonFiltrar" class="btn btn-outline-personalized" type="button">
              <i class='bx bx-filter'></i> Filtrar
            </button>
          </div>
          <div class="col col-md-auto mt-3 mb-3">
            <button class="btn btn-outline-personalized" type="submit">
              <i class='bx bx-search'></i> Buscar
            </button>
          </div>
        </div>
        <div id="filter_animal_div" style="display: none;">
          <div class="row justify-content-md-center">
            <div class="col-8 text-start">
              <p>Filtrar por:</p>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-2 mb-3">
              <select class="form-select animalFilter" aria-label="Filtrar por especie" name="filter_specie">
                <option selected disabled>Especie</option>
                {%for specie in species %}
                <option value={{specie.id}}>{{specie.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-2 mb-3">
              <select class="form-select animalFilter" aria-label="Filtrar por sexo" name="filter_sex">
                <option selected disabled>Sexo</option>
                <option value="Macho">Macho</option>
                <option value="Hembra">Hembra</option>
              </select>
            </div>
            <div class="col-2 mb-3">
              <select class="form-select animalFilter" aria-label="Filtrar por tamaño" name="filter_size">
                <option selected disabled>Tamaño</option>
                <option value="Pequeño">Pequeño (0-20cm)</option>
                <option value="Mediano">Mediano (21-50cm)</option>
                <option value="Grande">Grande (51-80cm)</option>
                <option value="Gigante">Gigante (>81cm)</option>
              </select>
            </div>
            <div class="col-2 mb-3">
              <select class="form-select animalFilter" aria-label="Filtrar por edad" name="filter_age">
                <option selected disabled>Edad</option>
                <option value="1">0 - 3</option>
                <option value="2">4 - 7</option>
                <option value="3">8 - 11</option>
                <option value="4">12 - 15</option>
                <option value="5"> >16</option>
              </select>
            </div>
          </div>
        </div>
      </form>
      {%endif%}
      <div class="secPublicaciones">
        {%if publications%}
        {%for publication in publications%}
        <div id="publicacion_{{publication.id}}" class="publicacion">
          {% if current_user.is_authenticated and (current_user.access_id == user_information.access_id) and publication.topic_id != topic_adopted_id%}
          <div id="post-1" style="align-items: end; display: flex; justify-content: end;">
            <div class="dropdown">
              <i class='bx bx-dots-vertical' id="icon_option_publication"></i>
              <div class="dropdown-content">
                <a href="{{url_for('publication_adoption_center.editPublication',publication_id = publication.id)}}" class="edit-button" data-id="" id="">Editar</a>
                <a href="#" class="delete-button" data-id="{{publication.id}}" id="">Eliminar</a>
              </div>
            </div>
          </div>
          {%elif actuallySeccion != "Adoptar"%}
          <div class="options_section" id="post-1" style="align-items: end; display: flex; justify-content: end;">
            <div class="dropdown">
              <i class='bx bx-dots-vertical' id="icon_option_publication"></i>
              <div class="dropdown-content">
                <a href="#" class="report-button" data-id="{{publication.id}}" id="">Reportar</a>
              </div>
            </div>
          </div>
          {%endif%}
          <div class="miniaturaPublic">
            <img src="{{publication.photo}}" alt="" border="0" onerror="this.style.display='none'" />
          </div>
          {%if publication.topic_id == topic_adopted_id %}
          <a href="{{url_for('view_profile_animal.viewProfileAnimal',fund_id = user_information.id , animal_id = publication.id, name = publication.title)}}"
            title="Perfil de {{publication.title}}">
            <div class="tituloPublic">
              <p><strong>{{publication.title}}</strong></p>
            </div>
          </a>
          {% else %}
          <div class="tituloPublic">
            <p><strong>{{publication.title}}</strong></p>
          </div>
          {%endif%}
          <div class="descripcionPublic">
            <textarea rows=5 readonly>{{publication.description}}</textarea>
          </div>
          {%if publication.topic_id == topic_adopted_id %}
          <div id="cont-btn-adoptar" class="btn-adoptar btn-adoptar-ocultar">
            <a class="btn btn-personalized" target="_blank"
              href="mailto:{{user_information.email}}?subject=ADOPCION RESPONSABLE&body=Hola!, estoy interesado en adoptar a {{publication.title}}, que tiene las siguientes caracteristicas: {{publication.description}}. /// AGREGA MAS INFORMACION SOBRE TI /// ">
              <i class='bx bxs-donate-heart'></i> Adoptar
            </a>
          </div>
          {%endif%}
          
        </div>
        {% endfor %}
        {%endif%}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block customJS%}
<script src="/static/js/User_Adoption_Center/profile_adoption_center.js"></script>
<script type="text/javascript">
  var url_delete_publication = "{{ url_for('publication_adoption_center.deletePublication') }}";
  var url_reportPublication = "{{ url_for('publication_adoption_center.reportPublication') }}";
</script>

{% endblock %}