<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenid@</title>
</head>
<body>
  <div class="principal_container">
    <div class="container_message">
      <div class="container_adogcion">
        <div class="container_img_adogcion">
          <img>
        </div>
        <div class="container_slogan_adogcion">
          <h1>Adogcion</h1>
        </div>
      </div>
      <div class="container_description">
        <p>Bienvenido a Adogcion, una red donde las personas compartimos el mismo amor por los animalitos, 
          aquí encontrarás desde centros de adopcion ya sea para adoptar mascotas o ayudar a la causa, 
          hasta personas con las que compartirás sobre temás en común sobre estos animalitos. 
          ¡Animate! a ser parte de esta familia </p>
      </div>
      <div class="container_user_register">
        <div>
          <h3>Centro adopcion</h3>
        </div>
        <div>
          <h3>Persona natural</h3>
        </div>
      </div>
    </div>
  </div>
  
  
</body>
</html>