@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #FFF;
}

.container{
  position: fixed;
  top: 0;
  height: 100%;
  transform: translate(200px);
  width: calc(100% - 200px); 
  overflow: auto;
  border: green solid;
}


.container_basic_information{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: min-content min-content min-content;
  border: orangered solid;
}

.container_animal_photo{
  width: 100%;
  height: 100%;
  border: blue solid;
}

.container_photo{
  width: 100%;
  height: 100%;
  border: brown solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_photo img{
  max-width: 350px;
  max-height: 350px;
  width: 100%;
  height: 100%;
}

/* Seccion de datos basicos animal */

.container_animal_information{
  border: teal solid;
  width: 100%;
  height: 100%;
}

.container_title_seccion{
  border: rebeccapurple solid;
  margin: 1%;
  width: 98%;
}

.container_title_seccion h1{
  font-family: 'Jua', sans-serif;
  font-weight: 300;
  font-size: x-large;
}

.input{
  border: purple solid;
  margin: 1% 1% 0 1%;
}

.btn-personalized {
  background-color: #1cb0ad; 
  color: #FFF; 
  font-family: 'Jua', sans-serif;
  font-size: medium;
}

.btn-personalized:hover {
  background-color: #138e8e;
  color: #FFF;
}

.btn-personalized:disabled { 
  background-color: #9df2e9;
  color: #147071; 
}

.btn_send_form{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border: violet solid;
}

.container_animal_diet{
  border: magenta solid;
  width: 100%;
  height: 100%;
}

/* OPERATIONS */

.container_animal_operation, .container_animal_disease, .container_animal_vaccine{
  border: #138e8e solid;
  width: 100%;
  height: 100%;
}

.container_animal_seccion{
  border: orange solid;
  margin: 1%;
  width: 98%;
}

.container_options_added{
  border: solid;
  display: flex;
  flex-direction: column;
}

.option_added{
  border: blue solid;
  width: 100%;
  height: 100%;
}

.option_added label{
  width: 40%;
}